.dialogsWrapper {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogItems {

}

.dialogItems .active {
    color: red;
}

.dialog {
    padding: 10px;
}

.dialog img {
    width: 30px;
}

.message {
    padding: 10px;
}
